.bgcolor{
    background-color: #a5c926;
}
.bgtext{
    color: white;
}
.navlinks ul li{
    /*padding-left: 6px;*/
    /*position: relative;*/
    /*left: 500px;*/
    float: left;
    list-style-type: none;
}
.listround{
    border-radius: 50%;
    height: 27px;
    width: 27px;
    margin-right: 8px;
    position: relative;
    left: 350px;
}
.listround:hover{
    background-color: rgba(0, 0, 0, .08);
}
.secondlist{
    list-style-type: none;
    float: left;
    margin: 25px 12px;
}
.toy{
    list-style-type: none;
    float: left;
    margin-top: 20px;
    /*margin-right: 20px;*/

}
a{
    color: inherit;
}
.toyhead{
    position: relative;
    right: 40px;
}
.cardlist{
    float: left;
    list-style-type: none;
    margin: 17px 5px;
}
.cardround{
    border-radius: 50%;
    background-color: #a5c926;
    height: 22px;
    width: 22px;
    text-align: center;
    color: white;
    /*list-style-type: none;*/
}
.bgimg{
    background-image: url("../image/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 85%;
}
.catalog{
    /*border-radius: 50%;*/
    /*background-color: blue;*/
    height: 20px;
    width: 100px;
}
